
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_PortfolioLayout.cshtml";
}

<h2>MyProfile</h2>

<table class=" table table-bordered">
    <tr>
        <td>Name</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Age</td>
        <td>@Model.Age</td>
    </tr>
    <tr>
        <td>Date of Birth</td>
        <td>@Model.Dob</td>
    </tr>
    <tr>
        <td>Emaile</td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>Contact Number</td>
        <td>@Model.Contact</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>@Model.Address</td>
    </tr>
</table>

